{% extends "base.html" %} {% block title %}{{title}}{% endblock %} {% block
content %}
<h1>{{ member.full_name }} Contribution Details</h1>

<h3>Member Information</h3>
<p><strong>Name:</strong> {{ member.full_name }}</p>
<p><strong>Department:</strong> {{ member.department }}</p>
<p><strong>Company:</strong> {{ member.company }}</p>

<h4>Contributions</h4>
<table class="table">
  <thead>
    <tr>
      <th>Month</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for contribution in contributions %}
    <tr>
      <td>{{ contribution.month }}</td>
      <td>${{ contribution.amount }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p><strong>Total Contribution:</strong> ${{ total_contribution }}</p>
{% endblock content %}
